body {
	font-size: 16px;
	color: #fff;
	background-color: none;
	font-family: 'Oxygen', sans-serif;
}

/* HEADER */
#header-nav{
	background-color: #f6b319;
	border-radius: 0;
	border: 0;
}

.navbar-brand {
	padding-top: 25px;
}

.navbar-brand h1 {/* Restaurant name */
	font-family: 'Lora', serif;
	color: #557c3e;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}

/* END HEADER */

/* FOOTER */
.panel-footer {
	margin-top: 30px;
	padding-top: 35px;
	padding-bottom: 30px;
	background-color: #222;
	border-top: 0;
}



/* MENU CATEGORIES PAGE */
.category-tile {
	position: relative;
	border: 2px solid #3F0C1F;
	overflow: hidden;
	width: 200px;
	height: 200px;
	margin: 0 auto 15px;
}
.category-tile span {
	position: absolute;
	border: 2px solid #3F0C1F;
	bottom: 0;
	right: 0;
	width: 100%;
	text-align: center;
	font-size: 1.2em;
	text-transform: uppercase;
	background-color: red;
	color: black;
	opacity: .8;
}
.category-tile:hover {
box-shadow: 0 1px 5px 1px #cccccc;
}
#menu-categories-title + div {
	margin-bottom: 50px; 
}
#menu-categories-title {
	color: black;
}


/********** Large devices only ********/
@media (min-width: 1200px) {
	
}


/********** Medium devices only ********/
@media (min-width: 992px)  and (max-width: 1199px){
	
	}
	


/********** Smallar devices only ********/
@media (min-width: 768px)  and (max-width: 991px) {  
	
}

